<main class="container" >
  <p  id="Subject" > Home</p>
  <p></p>
  <form>
    <label>
      <input type="radio" name="role" value="manager" (change)="setSelectedRole('manager')">
      Manager
    </label>
    <label>
      <input type="radio" name="role" value="client" (change)="setSelectedRole('client')">
      Client
    </label>
    <div>
      <button (click)="goToRegisterComponent()" class="btn btn-primary">Register</button>
      <button (click)="goToLoginComponent()" class="btn btn-primary">Login</button>
    </div>

  </form>
</main>










<!-- <h3>{{ this.testA[0].user.username }}</h3> -->
<!-- <table>
    <tbody>
        <tr *ngFor="let user of testA">
            <td>{{user.id}}</td>
            <td>{{user.user.username}}</td>
            <td>{{user.user.email}}</td>
        </tr>
    </tbody>
</table>
<!-- <app-login></app-login> -->
<!-- <button (click)="testB()">Dugme</button> -->