<main class="container" >
  <p>Schedule a training</p>
  <form>
    <div class="flex-container">
    <select class="form-select" [(ngModel)]="category" name="category">
      <option value="ignore">Category</option>
      <option *ngFor="let category of categorys" [value]="category.category">{{ category.category | titlecase  }}</option>
    </select>
    <select class="form-select" [(ngModel)]="day" name="day">
      <option value="ignore">Day of week</option>
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select>
    <select class="form-select" [(ngModel)]="type" name="type">
      <option value="ignore">Type</option>
      <option value="individual">Individual</option>
      <option value="group">Group</option>
    </select>
      <button (click)="filter()" class="btn btn-primary">Filter</button>
    </div>
    <table>
      <thead>
        <tr>
            <th>ID</th>
            <th>Hall</th>
            <th>Hall description</th>
            <th>Training category</th>
            <th>Training type</th>
            <th>Time</th>
            <th>Day</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{appointment.id}}</td>
          <td>{{appointment.hall | titlecase}}</td>
          <td>{{appointment.hallDescription  | titlecase}}</td>
          <td>{{appointment.trainingCategory | titlecase}}</td>
          <td>{{appointment.trainingType | titlecase}}</td>
          <td>{{appointment.startTime | titlecase}}</td>
          <td>{{appointment.day | titlecase}}</td>
        </tr>
      </tbody>
    </table>
    <div></div>
    <div>
      <label for="" style="font-weight: bold;">Enter the training ID you want to schedule</label>
      <input type="text" [(ngModel)]="appointmentID" name="appointmentID">
      <button (click)="getID()" class="btn btn-primary">Accept</button>
    </div>


    <div>
      <button (click)="back()" class="btn btn-dark">Back</button>
    </div>


  </form>
</main>
