
table {
  margin-top: 30px;
  margin-bottom: 30px;
}
thead {
  margin: 5px;
}
th, td {
  background-color: rgba(192, 209, 228, 0.452);
  text-align: left;
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}

.status-row {
  display: flex; 
  justify-content: space-around; /* ili 'space-between' za veći razmak */
  align-items: center;
  margin-bottom: 10px; /* Dodaje razmak između redova */
}
.status-row > * {
  margin-right: 10px; /* Dodaje razmak između elemenata unutar reda */
}
.status-row label {
  font-weight: bold;
}