<main class="container" >
  <p id="Subject">Trainings</p>
      <div>
      </div>
      <div class="flex-container">
      </div>
      <table>
          <thead>
            <tr>
                <th>ID</th>
                <th>Hall</th>
                <th>Hall description</th>
                <th>Training category</th>
                <th>Training type</th>
                <th>Time</th>
                <th>Day</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of appointments">
                <td>{{appointment.id}}</td>
                <td>{{appointment.hall | titlecase}}</td>
                <td>{{appointment.hallDescription  | titlecase}}</td>
                <td>{{appointment.trainingCategory | titlecase}}</td>
                <td>{{appointment.trainingType | titlecase}}</td>
                <td>{{appointment.startTime | titlecase}}</td>
                <td>{{appointment.day | titlecase}}</td>
              </tr>
          </tbody>
      </table>
      <div>
        <label id="Subject2">Enter the training ID you want cancel</label>
        <input type="nubmer"  [(ngModel)]="appointmentID"  name="appointmentID">
        <button (click)="accept()" class="btn btn-primary">Accept</button>
      </div>
      <div>
        <button (click)="back()" class="btn btn-dark">Back</button>
      </div>
  </main>
  