container {
  width: 1000px;
}
table{
  width: 100%;
}
thead {
  margin: 5px;
}
th, td {
  background-color: rgba(192, 209, 228, 0.452);
  text-align: left;
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}
#Subject{
  font-weight: bold;
  font-size: 25px;
}
.flex-container {
  display: flex;
  align-items: center;
}