<main class="container" >
  <p>Schedule a training</p>
  <p></p>
  <form>
    <table>
        <thead>
          <tr>
              <th>ID</th>
              <th>Hall</th>
              <th>Hall description</th>
              <th>Training category</th>
              <th>Training type</th>
              <th>Time</th>
              <th>Day</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments">
            <td>{{appointment.id}}</td>
            <td>{{appointment.hall}}</td>
            <td>{{appointment.hallDescription}}</td>
            <td>{{appointment.trainingCategory}}</td>
            <td>{{appointment.trainingType}}</td>
            <td>{{appointment.startTime}}</td>
            <td>{{appointment.day}}</td>
          </tr>
        </tbody>
    </table>
    <div></div>
    <div>
      <label for="">Enter the training ID you want to schedule</label>
      <input type="text" [(ngModel)]="appointmentID" name="appointment">
      <button (click)="getID()" class="btn btn-primary">Accept</button>
    </div>


    <div>
      <button (click)="back()" class="btn btn-dark">Back</button>
    </div>


  </form>
</main>
