
select {
    width: 12%;
    padding: 4px;
    margin: 2px;
}

.red-border {
    border: 1px solid red;
}

#SelectHall{
    display: flex; 
    justify-content: center; /* ili 'space-between' za veći razmak */
}