<main class="container" >
    
    <p>LOG IN </p>
    <form >
        <!-- <div>
            <label>Password:</label>
            <input type="password"  name="password">
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="email">
        </div> -->
        
    </form>
    <div>   
        <button (click)="clientLogIn($event)" class="btn btn-success">Log in</button>
        <button (click)="back()" class="btn btn-dark">Back</button>
        <button (click)="prinotvanje()">Print</button>
    </div>
</main>