<main class="container" >
    
    <p id="Subject"> LOG IN </p>
    <form >
        <div>
            <label>Email:</label>
            <input type="email" name="email" [(ngModel)]="loginInfo.email">
        </div>
        <div>
            <label>Password:</label>
            <input type="password"  name="password" [(ngModel)]="loginInfo.password">
        </div>
        
    </form>
    <div>   
        <button (click)="clientLogIn($event)" class="btn btn-success">Log in</button>
        <button (click)="back()" class="btn btn-dark">Back</button>
        
    </div>
</main>

<!-- <button (click)="prinotvanje()">Print</button> -->