@import 'bootstrap/dist/css/bootstrap.min.css';
/* General Styles */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url("../123.png");
    background-size: cover; /* Ovo će osigurati da slika pokrije ceo ekran */
}

main.container {
    display: block;
    background-color: rgba(219, 197, 150, 0.993);
    box-shadow: 0px 0px 40px black;
    border: 0px solid black;
    margin-top: 150px;
    width:50%;

}

/* Styles for the form and its elements */
form div {
    margin-bottom: 10px; /* Adjust this value to increase or decrease the space */
}

button {
    margin: 7px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
    width: 25%;
    padding: 2px;
    margin: 3px 0 5px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

label {
    display: block; /* Makes label take the full width and aligns input below */
    margin-bottom: 2px; /* Space between label and input */
}
/* You can add global styles to this file, and also import other style files */
